

.clock {
    position: absolute;
    top: 209%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    font-weight: bold;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;



}