section{
    width: 100%;
    height: 100%;
}
#pos{
    color: #00fd00;
}

#home_nav,#items_nav,#manage_order_nav,#place_order_nav,#home_nav,#customer_nav{
    color: #00ff00;
    font-weight: bold;
    font-size: 18px;
    z-index: 999999;
}